@use '../theme/theme' as theme;

.footer {
  a {
    text-decoration: none;
    color: theme.$brand-purple;
  }
  a:visted {
    color: black;
  }
  a:hover {
    color: theme.$brand-pink;
  }
}

span {
  color: red;
}