@use './theme/theme' as theme;
@use './modules/header.scss';
@use './modules/main.scss';
@use './modules/footer.scss';

.btn{
  background-color: theme.$brand-purple;
  color: #fff;
  border: theme.$border-thickness solid theme.$brand-purple;
}


